.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  @include mobile {
    width: 450px;
  }
  @include tab {
    width: 700px;
  }
  @include desk {
    width: 1050px;
  }
}

// пока что наброски...
