<section class="about">
    <div class="container">
    <label class="about-title-additions">TRADITION AND LOVE </label>
    <h2 class="about-title">HOW IT'S MADE?</h2>
    <ul class="about-list">
        <li class="about-list-item">
            <p class="about-list-item-parag-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
        </li>
        <li class="about-list-item">
            <p class="about-list-item-parag-2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                tincidunt.<span class="about-list-item-part">Aliquam erat volutpat. Aenean accumsan.</span></p>
        </li>
    </ul>
    <button type="button" class="about-button">Read more</button>
    </div>
</section>