<section class="about">
  <div class="container about-container">
    <label class="about-title-additions">TRADITION AND LOVE </label>
    <h2 class="about-title">HOW IT'S MADE?</h2>
    <div class="about-content-flex">
      <picture class="about-img">
        <source srcset="./images/about/about-mob.png 1x ,./images/about/about-mob@2x.png 2x" type="image/png" media="(max-width: 768px)" class="about-img-items">
        <source srcset="./images/about/about-tab.png 1x , ./images/about/about-tab@2x.png 2x" type="image/png" media="(max-width:  1280px)" class="about-img-items">
        <source srcset="./images/about/about.png 1x , ./images/about/about@2x.png 2x" type="image/png" media="(min-width: 1280px)" class="about-img-items">
        <img src="./images/about/about-mob.png">
      </picture>
    <ul class="about-list">
      <li class="about-list-item">
        <p class="about-list-item-parag-1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
      </li>
      <li class="about-list-item">
        <p class="about-list-item-parag-2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
      </li>
      <li class="about-list-item">
        <p class="about-list-item-parag-3">Aliquam erat volutpat. Aenean accumsan.</p>
      </li>
      <li class="about-btn-wrapper">
        <button type="button" class="about-button">
          Read more
          <svg class="about-button-icon" width="6" height="10">
            <use href="../src/images/icons.svg#about-button-icon"></use>
          </svg>
        </button>
      </li>
    </ul>
    </div>
  </div>
</section>
