<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <p class="advantages__info">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__info">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__info">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
  <a class="top-link hide" href="" id="js-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z" /></svg>
    <span class="screen-reader-text">Back to top</span>
  </a>
</section>
