<section class="section-advantages">
  <div class="container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <p class="advantages__info">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__info">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__info">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
  <a class="top-link hide" href="" id="js-top">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 330 330"
      style="enable-background: new 0 0 330 330"
      xml:space="preserve"
    >
      <path
        d="m325.6 229.4-150-150a15 15 0 0 0-21.2 0l-150 150a15 15 0 1 0 21.2 21.2L165 111.2l139.4 139.4a15 15 0 0 0 21.2 0 15 15 0 0 0 0-21.2z"
      />
    </svg>
    <span class="screen-reader-text">Back to top</span>
  </a>
</section>

<!-- SCRIPT FOR UPBUTTON -->

<script>
  // Set a variable for our button element.
  const scrollToTopButton = document.getElementById('js-top');

  // Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
  const scrollFunc = () => {
    // Get the current scroll value
    let y = window.scrollY;

    // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
    if (y > 0) {
      scrollToTopButton.className = 'top-link show';
    } else {
      scrollToTopButton.className = 'top-link hide';
    }
  };

  window.addEventListener('scroll', scrollFunc);

  const scrollToTop = () => {
    // Let's set a variable for the number of pixels we are from the top of the document.
    const c = document.documentElement.scrollTop || document.body.scrollTop;

    // If that number is greater than 0, we'll scroll back to 0, or the top of the document.
    // We'll also animate that scroll with requestAnimationFrame:
    // https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
    if (c > 0) {
      window.requestAnimationFrame(scrollToTop);
      // ScrollTo takes an x and a y coordinate.
      // Increase the '10' value to get a smoother/slower scroll!
      window.scrollTo(0, c - c / 10);
    }
  };

  // When the button is clicked, run our ScrolltoTop function above!
  scrollToTopButton.onclick = function (e) {
    e.preventDefault();
    scrollToTop();
  };
</script>
