<section class="gallery">
    <div class="container gallery__container">
        <div class="gallery__container--first">
            <img srcset="./images/gallery-img-1.jpg, ./images/gallery-img-1@2x.jpg 2x" src="./images/gallery-img-1.jpg" 
                alt="Icecream cup" width="140" height="140">
        </div>
        <div class="gallery__container--second">
            <img srcset="./images/gallery-img-2.jpg, ./images/gallery-img-2@2x.jpg 2x" src="./images/gallery-img-2.jpg"
                alt="Icecream cup" width="140" height="140">
            <img srcset="./images/gallery-img-3.jpg, ./images/gallery-img-3@2x.jpg 2x" src="./images/gallery-img-3.jpg"
                alt="Icecream cup" width="140" height="140">
        </div>
        <div class="gallery__container--third">
            <img srcset="./images/gallery-img-4.jpg, ./images/gallery-img-4@2x.jpg 2x" src="./images/gallery-img-4.jpg"
                alt="Icecream cup" width="280" height="280">
            <img srcset="./images/gallery-img-5.jpg, ./images/gallery-img-5@2x.jpg 2x" src="./images/gallery-img-5.jpg"
                alt="Icecream cup" width="140" height="140">
        </div>
        <div class="gallery__container--fourth">
            <img srcset="./images/gallery-img-6.jpg, ./images/gallery-img-6@2x.jpg 2x" src="./images/gallery-img-6.jpg"
                alt="Icecream cup" width="140" height="140">
            <img srcset="./images/gallery-img-7.jpg, ./images/gallery-img-7@2x.jpg 2x" src="./images/gallery-img-7.jpg"
                alt="Icecream cup" width="140" height="140">
        </div>
        <div class="gallery__container--fifth">
            <img srcset="./images/gallery-img-8.jpg, ./images/gallery-img-8@2x.jpg 2x" src="./images/gallery-img-8.jpg"
                alt="Icecream cup" width="140" height="140">
            <img srcset="./images/gallery-img-9.jpg, ./images/gallery-img-9@2x.jpg 2x" src="./images/gallery-img-9.jpg"
                alt="Icecream cup" width="140" height="140">
        </div>
        <div class="gallery__wrapper">
            <img srcset="./images/gallery-img-10.jpg, ./images/gallery-img-10@2x.jpg 2x" src="./images/gallery-img-10.jpg"
                alt="Icecream cup" width="140" height="140">
        </div>
    </div>
</section>