<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <div class="gallery__column gallery__column--first">
      <div class="gallery__wrapper">
        <img
          srcset="./images/gallery-img-1.jpg 1x, ./images/gallery-img-1@2x.jpg 2x"
          src="./images/gallery-img-1.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small gallery__image--left"
        />
      </div>
    </div>
    <div class="gallery__column gallery__column--second">
      <div class="gallery__wrapper gallery__wrapper--upper">
        <img
          srcset="./images/gallery-img-2.jpg 1x, ./images/gallery-img-2@2x.jpg 2x"
          src="./images/gallery-img-2.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
      <div class="gallery__wrapper">
        <img
          srcset="./images/gallery-img-3.jpg 1x, ./images/gallery-img-3@2x.jpg 2x"
          src="./images/gallery-img-3.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
    </div>
    <div class="gallery__column gallery__column--third">
      <div class="gallery__wrapper--big gallery__wrapper--upper">
        <img
          srcset="./images/gallery-img-4.jpg 1x, ./images/gallery-img-4@2x.jpg 2x"
          src="./images/gallery-img-4.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--big"
        />
      </div>
      <div class="gallery__wrapper gallery__wrapper--small">
        <img
          srcset="./images/gallery-img-5.jpg 1x, ./images/gallery-img-5@2x.jpg 2x"
          src="./images/gallery-img-5.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
    </div>
    <div class="gallery__column gallery__column--fourth">
      <div class="gallery__wrapper gallery__wrapper--upper">
        <img
          srcset="./images/gallery-img-6.jpg 1x, ./images/gallery-img-6@2x.jpg 2x"
          src="./images/gallery-img-6.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
      <div class="gallery__wrapper">
        <img
          srcset="./images/gallery-img-7.jpg 1x, ./images/gallery-img-7@2x.jpg 2x"
          src="./images/gallery-img-7.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
    </div>
    <div class="gallery__column gallery__column--fifth">
      <div class="gallery__wrapper gallery__wrapper--upper">
        <img
          srcset="./images/gallery-img-8.jpg 1x, ./images/gallery-img-8@2x.jpg 2x"
          src="./images/gallery-img-8.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
      <div class="gallery__wrapper">
        <img
          srcset="./images/gallery-img-9.jpg 1x, ./images/gallery-img-9@2x.jpg 2x"
          src="./images/gallery-img-9.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small"
        />
      </div>
    </div>
    <div class="gallery__column gallery__column--sixth">
      <div class="gallery__wrapper">
        <img
          srcset="./images/gallery-img-10.jpg 1x, ./images/gallery-img-10@2x.jpg 2x"
          src="./images/gallery-img-10.jpg"
          alt="Icecream cup"
          class="gallery__image gallery__image--small gallery__image--right"
        />
      </div>
    </div>
  </div>
</section>
