<header class="header">
  <div class="container">
    <div class="header__mobile">
      <a class="logo" href="./index.html">
        <img
          srcset="./images/hero/logo-desk-1x.png 1x, ./images/hero/logo-desk-2x.png 2x"
          src="./images/hero/logo-desk-1x.png"
          alt="logo"
        />
      </a>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="navigation__link navigation__link--current" href="./index.html">Home</a>
          </li>
          <li class="header__item"><a class="navigation__link" href="#gallery">About us</a></li>
          <li class="header__item">
            <a class="navigation__link" href="#about">How it's made?</a>
          </li>
          <li class="header__item">
            <a class="navigation__link" href="#products">Our products</a>
          </li>
          <li class="header__item">
            <a class="navigation__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>

      <button data-menu-open type="button" class="menu-button">
        <svg width="20" height="12">
          <use href="./images/hero/icons-hero.svg#icon-Burger"></use>
        </svg>
      </button>
      <button data-modal-open type="button" class="header__button">
        <span class="button__text">Buy now</span>
        <svg class="button__icon" width="6" height="8">
          <use href="./images/hero/icons-hero.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="menu-backdrop" data-menu>
      <div slide-menu class="header__menu">
        <button data-menu-close type="button" class="close-button">
          <svg width="14" height="14">
            <use href="./images/hero/icons-hero.svg#icon-close-1"></use>
          </svg>
        </button>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link menu__link--current" href="./index.html">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#advantages">About us</a>
            </li>
            <li class="navigation__item">
              <a class="menu__link" href="./index.html#about">How it's made?</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#products">Our products</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#contacts">Contact</a>
            </li>
          </ul>
        </nav>
        <button modal-open type="button" class="buy-button">
          <span class="button__text">Buy now</span>
          <svg class="button__icon" width="6" height="8">
            <use href="./images/hero/icons-hero.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <div data-modal class="backdrop-modal backdrop-visible">
      <div class="modal__buy">
          <button data-modal-close class="mw-close-button" type="button">
              <svg class="close-button__icon" width="18" height="18">
                  <use href="./images/hero/icons-hero.svg#icon-close-1"></use>
              </svg>
          </button>
          <b class="modalw__header">Place your order</b>
         
          <form class="mform">

              <div class="personal__info">
              <label class="mform__label">
                  <input class="mform__field" type="name" name="name">
                  <span class="mform__icon">
                      <svg width="18" height="18">
                          <use href="./images/hero/icons-hero.svg#icon-user"></use>
                      </svg>
                  </span>
                  <span class="mform__line">Name</span>        
              </label>
              <label class="mform__label">
                  <input class="mform__field" type="tel" name="phone">
                  <span class="mform__icon">
                      <svg width="18" height="18">
                          <use href="./images/hero/icons-hero.svg#icon-phone"></use>
                      </svg>
                  </span>
                  <span class="mform__line">Phone</span>
              </label>
              <label class="mform__label">
                  <input class="mform__field" type="email" name="mail">
                  <span class="mform__icon">
                      <svg width="18" height="18">
                          <use href="./images/hero/icons-hero.svg#icon-envelop"></use>
                      </svg>
                  </span>
                  <span class="mform__line">Mail</span>  
              </label>
              <label class="mform__label">
                  <input class="mform__field" type="address" name="address">
                  <span class="mform__icon">
                      <svg width="18" height="18">
                          <use href="./images/hero/icons-hero.svg#icon-home3"></use>
                      </svg>
                  </span>
                  <span class="mform__line">Delivery address</span>  
              </label>
          </div>

              <div class="order">
              <label class="mform__label order__label mform__label--margin"> 
                  <span class="mform__line">Product</span>
                  <select class="order__field" id="product" name="product">
                  <option value="ice_cream">Ice Cream</option>
                  <option value="milkshake">Milkshake</option>
                  <option value="ice__coffee" selected>Ice Coffee</option>
                  </select>
              </label>

              <label class=" mform__label order__label">
                  <span class="mform__line">Quantity</span>
                  <input class="order__field" type="number" name="quantity" min="0" step="1" value="0" />
                </label>
              </div>

              <label class="mform__label mform__label--comment">
                  <textarea class="mform__field mform__field--comment" name="comment" placeholder="Введите текст"></textarea>
                  <span class="mform__line">Add your comment</span>
              </label>
              
              <label class="mform__label mform__label--conform">
                  <input class="mform__field--hidden" type="checkbox">
                  <span class="mform__conform-text">
                      I agree to receive news by email
                  </span>  
                                    
              </label>
              <button class="button submit-button" type="submit">Submit</button>
          </form>  
      </div>
  </div>
  

  </div>
</header>
