<section class="hero">
  <div class="hero__wrap">
    <div class="container">
      <div class="hero__info">
        <div class="hero__meta">
          <h1 class="hero__title">
            ice cream made with <span class="hero__title--dark">passion</span>
          </h1>
          <div class="hero__links">
            <a class="hero__link hero__link--dark" href="#products">Product</a>
            <a class="hero__link" href="#about">How it's made?</a>
          </div>
        </div>

        <div class="figures">
          <span class="hero__figure">16</span>
          <span class="hero__figure hero__figure--truck">23</span>
        </div>
      </div>

      <div class="hero__block">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <!-- <button class="hero__button" type="button">
          <svg width="14" height="14">
            <use href="./images/hero/icons-hero.svg#icon-right-arrow"></use>
          </svg>
        </button> -->
        <label for="hero-btn" class="hero__button"></label>
        <input type="checkbox" name="hero-btn" id="hero-btn" class="hero-check visually-hidden" />

        <div class="hero-desc-wrapper">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
