<section class="products">
  <div class="container">
    <div class="pordacts-title-wrapper">
      <p class="products__pre-title">100% Natural</p>
      <h2 class="products__title">Products</h2>
    </div>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Cream</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="products-list__overflow">
          <a href="#" class="products-list__image">
            <picture>
              <source
                srcset="./images/cream.png 1x ./images/cream@2x.png 2x"
                type="image/png"
                media="min-width:320px"
              />
              <img src="./images/cream.png" alt="icecream products" />
            </picture>
          </a>
          <p class="products-list__description">
            In our unique freezers, high butterfat is frozen with very little trapped air, yielding
            irresistably indulgent ice cream.
          </p>
        </div>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Coffee</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <div class="products-list__overflow">
          <a href="" class="products-list__image">
            <picture>
              <!-- <source
                srcset="./images/ice-coffee-bg.jpeg 1x ./images/ice-coffee-bg@2x.jpeg 2x"
                type="image/png"
                media="min-width:320px"
              /> -->
              <img src="./images/ice-coffee-bg.jpg" alt="different ice-coffee" />
            </picture>
          </a>
          <p class="products-list__description">
            Coffee intended for espresso is also great for geyser coffeemakers and augers, while
            filter coffee is ideal for all alternative brewing methods - in a drip coffee maker,
            French-press, auger, pour-over, aeropress, or just in a cup. To brew coffee correctly,
            we recommend following the general brewing recommendations, choosing the right grind
            size
          </p>
        </div>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Milkshakes</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="products-list__overflow">
          <a href="" class="products-list__image">
            <picture>
              <!-- <source
                srcset="./images/ice-coffee-bg.jpeg 1x ./images/ice-coffee-bg@2x.jpeg 2x"
                type="image/png"
                media="min-width:320px"
              /> -->
              <img src="./images/milkshake-bg.jpg" alt="retro milkshake coctaile" />
            </picture>
          </a>
          <p class="products-list__description">
            A special blend of gourmet chocolate poured into, frozen, and broken up into soft unique
            chips in each small batch.
          </p>
        </div>
        <button class="products-list__btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
