<section class="products">
  <div class="container">
    <div class="pordacts-title-wrapper">
      <p class="products__pre-title">100% Natural</p>
      <h2 class="products__title">Products</h2>
    </div>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Cream</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Coffee</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Milkshakes</h3>
        <p class="products-list__discribe">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
