<section id="products" class="products">
  <div class="container">
    <div class="products__title-thumb">
      <p class="products__pre-title">100% Natural</p>
      <h2 class="products__title">Products</h2>
    </div>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <!-- <button class="products-list__btn" type="button"></button> -->

        <label for="btn-icecream" class="products-list__btn"></label>
        <input
          type="checkbox"
          name="btn-icecream"
          id="btn-icecream"
          class="icecream-check visually-hidden"
        />
        <div class="description-wrapper">
          <p class="products-list__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam dolor saepe
            culpa quis nulla iure repellendus voluptatem numquam harum quia expedita quas, itaque
            nihil animi architecto nemo quidem temporibus?
          </p>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Ice Coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <!-- <button class="products-list__btn" type="button"></button> -->

        <label for="btn-coffee" class="products-list__btn"></label>
        <input
          type="checkbox"
          name="btn-coffee"
          id="btn-coffee"
          class="coffee-check visually-hidden"
        />
        <div class="description-wrapper">
          <p class="products-list__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam dolor saepe
            culpa quis nulla iure repellendus voluptatem numquam harum quia expedita quas, itaque
            nihil animi architecto nemo quidem temporibus?
          </p>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title">Milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <!-- <button class="products-list__btn" type="button"></button> -->
        <label for="btn-shake" class="products-list__btn"></label>
        <input
          type="checkbox"
          name="btn-shake"
          id="btn-shake"
          class="shake-check visually-hidden"
        />
        <div class="description-wrapper">
          <p class="products-list__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam dolor saepe
            culpa quis nulla iure repellendus voluptatem numquam harum quia expedita quas, itaque
            nihil animi architecto nemo quidem temporibus?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
