.about {
  background-color: $pink-bg;
  width: 100%;
}
.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-image: url(/images/about/about-bg-mob.png);

  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: contain;

  @include tab {
    background: none;
  }
  @include desk {
    background-image: url(/images/about/about-bg.png);

    background-repeat: no-repeat;
    background-position: 0 150%;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-container {
    background-image: url(/images/about/about-bg-mob@2x.png);
    @include tab {
      background: none;
    }
    @include desk {
      background-image: url(/images/about/about-bg@2x.png);
      background-repeat: no-repeat;
      background-position: 0 150%;
      background-size: contain;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.about-title-additions {
  font-family: Titan One;
  color: $brand-clr;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: calc(21 / 18);

  text-transform: uppercase;

  @include tab {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desk {
    width: 350px;

    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about-title {
  text-align: center;
  color: $accent-clr;
  font-family: Titan One;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;

  width: 200px;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  @include tab {
    width: 431px;
    height: 55px;
    margin-bottom: 50px;

    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @include desk {
    min-width: 534px;
    margin-bottom: 55px;

    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.about-content-flex {
  @include tab {
    display: flex;
  }
  @include desk {
    justify-content: space-between;
  }
}

.about-content-flex {
  @include tab {
    display: flex;
  }
  @include desk {
  }
}

.about-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
  width: 280px;

  @include tab {
    margin: 0;
    margin-right: 17px;
    margin-top: 0;

    width: 340px;
  }
}

.about-items-container {
  @include tab {
    margin-top: 50px;
  }
  @include desk {
    max-width: 463px;
    margin-left: 79px;
  }
}

.about-items-container-list:first-child {
  margin-bottom: 47px;

  @include tab {
    margin-bottom: 49px;
  }
}

.about-items-container-parag-1 {
  color: $black-txt-clr;
  font-family: $font-dm-sans;

  width: 220px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  & .about-list-item-part {
    padding-top: 20px;
  }

  @include tab {
    width: 100%;
    height: 79px;

    font-size: 14px;
    line-height: 176%;
  }
  @include desk {
    font-size: 16px;
    line-height: 176%;

    margin-bottom: 35px;
  }
}

.about-items-container-parag-2 {
  color: $nuance-txt-clr;

  width: 220px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  @include tab {
    width: 340px;

    margin: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 176%;
  }
  @include desk {
    width: 100%;
    font-size: 14px;
    line-height: 194%;

    margin-bottom: 15px;
  }
}

.about-items-container-parag-3 {
  color: $nuance-txt-clr;

  width: 220px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  @include tab {
    width: 340px;

    margin: 0;
    margin-bottom: 17px;

    font-size: 14px;
    line-height: 176%;

    margin-bottom: 62px;
  }
  @include desk {
    width: 100%;
    font-size: 14px;
    line-height: 194%;
    margin-bottom: 45px;
  }
}

.about-btn-wrapper {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  @include tab {
    margin: 0;
  }
  @include desk {
    margin-left: 79px;
  }
}
.about-button {
  background-color: transparent;
  border: none;

  width: 176px;
  height: 44px;

  padding: 0;

  font-family: DM Sans;
  font-weight: bold;

  color: $footer-btn-clr;

  font-size: 14px;
  line-height: calc(18 / 14);

  background-color: #ffffff;
  border-radius: 20px;

  @include desk {
    transition: background-color 250ms;
    &:hover,
    &:focus {
      background-color: #ecebeb;
      cursor: pointer;
    }
  }
}
.about-button-icon {
  margin-left: 14px;
}
