.about {
  padding-top: 125px;
  padding-bottom: 19px;
  background-color: $pink-bg;
  width: 100%;
  background-size: contain;

  background-image: url(/images/about/about-bg-mob.png);

  background-position: 50% 90%;
  background-repeat: no-repeat;

  @include tab {
    background-image: none;
    background-color: $pink-bg;
    padding-top: 128px;
    padding-bottom: 33px;
  }
  @include desk {
    padding-top: 125px;
    padding-bottom: 19px;
    background-color: $pink-bg;
    background-image: url(/images/about/about-bg.png);

    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
}
.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about {
    background-image: url(/images/about/about-bg-mob@2x.png);
    @include tab {
      background-image: none;
    }
    @include desk {
      background-image: url(/images/about/about-bg@2x.png);
      background-repeat: no-repeat;
      background-position: 0 100%;
    }
  }
}

.about-title-additions {
  font-family: Titan One;
  color: $brand-clr;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: calc(21 / 18);

  text-transform: uppercase;

  @include tab {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desk {
    width: 350px;

    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about-title {
  text-align: center;
  color: $accent-clr;
  font-family: Titan One;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;

  width: 200px;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  @include tab {
    width: 431px;
    height: 55px;
    margin-bottom: 50px;

    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @include desk {
    min-width: 534px;
    margin-bottom: 55px;

    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.about-content-flex {
  @include tab {
    display: flex;
  }
  @include desk {
    justify-content: space-between;
  }
}

.about-content-flex {
  @include tab {
    display: flex;
  }
  @include desk {
  }
}

.about-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
  width: 280px;

  @include tab {
    margin: 0;
    margin-right: 17px;
    margin-top: 0;

    width: 340px;
  }
}

.about-items-container {
  @include tab {
    margin-top: 50px;
  }
  @include desk {
    max-width: 463px;
    margin-left: 79px;
  }
}

.about-items-container-list:first-child {
  margin-bottom: 47px;

  @include tab {
    margin-bottom: 49px;
  }
}

.about-items-container-parag-1 {
  color: $black-txt-clr;
  font-family: $font-dm-sans;

  width: 220px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  & .about-list-item-part {
    padding-top: 20px;
  }

  @include tab {
    width: 100%;
    height: 79px;

    font-size: 14px;
    line-height: 176%;
  }
  @include desk {
    font-size: 16px;
    line-height: 176%;

    margin-bottom: 35px;
  }
}

.about-items-container-parag-2 {
  color: $nuance-txt-clr;

  width: 220px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  @include tab {
    width: 340px;

    margin: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 176%;
  }
  @include desk {
    width: 100%;

    font-size: 14px;
    line-height: 194%;

    margin-bottom: 15px;
  }
}

.about-items-container-parag-3 {
  color: $nuance-txt-clr;

  width: 220px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  @include tab {
    width: 340px;

    margin: 0;
    margin-bottom: 17px;

    font-size: 14px;
    line-height: 176%;

    margin-bottom: 62px;
  }
  @include desk {
    width: 100%;
    font-size: 14px;
    line-height: 194%;
    margin-bottom: 45px;
  }
}

.about-btn-wrapper {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  @include tab {
    margin: 0;
  }
  @include desk {
    margin-left: 79px;
  }
}
.about-button {
  background-color: transparent;
  border: none;

  width: 176px;
  height: 44px;

  padding: 0;

  font-family: DM Sans;
  font-weight: bold;

  color: $footer-btn-clr;

  font-size: 14px;
  line-height: calc(18 / 14);

  background-color: #ffffff;
  border-radius: 20px;

  transition: all 250ms;
  &:hover,
  &:focus {
    background-color: #ecebeb;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px, rgb(0 0 0 / 8%) 0px 4px 4px,
      rgb(0 0 0 / 20%) 1px 4px 6px;
  }
  @include tab {
    font-size: 16px;
  }
}
.about-button-icon {
  margin-left: 14px;
}

// MODAL
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease-out;
}
.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d41443;
  opacity: 0.2;
  z-index: 0;
}

.modal-window {
  position: relative;
  z-index: 2;
  width: 400px;
  height: 500px;
  box-shadow: 16px 16px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #fff5f6;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: inherit;

  background-image: url(/images/about/modal-bg-mob.png);
  background-repeat: no-repeat;
  background-position: 0 110%;
  background-size: contain;
  @include tab {
    background-image: url(/images/about/modal-bg-tab.png);
  }
  @include desk {
    background-image: url(/images/about/modal-bg-desk.png);
  }

  @include tab {
    width: 450px;
    height: 450px;
  }
  @include desk {
    width: 550px;
    height: 550px;
  }
}
.btn-close {
  width: 176px;
  height: 44px;

  background-color: rgb(247, 103, 127);
  border: none;
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 30px;
  font-family: $font-dm-sans;
  font-weight: bold;

  font-size: 14px;
  line-height: calc(18 / 14);
  @include tab {
    margin-bottom: 20px;
    font-size: 16px;
  }
  @include desk {
    margin-bottom: 40px;
  }
}
.btn-close:hover {
  transition: all 300ms;
  background-color: #ecebeb;
  color: $footer-btn-clr;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 14%) 0px 1px 1px, rgb(0 0 0 / 8%) 0px 4px 4px,
    rgb(0 0 0 / 20%) 1px 4px 6px;
}
.modal-title {
  margin-top: 35px;
  text-align: center;
  color: $accent-clr;
  font-family: Titan One;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;

  width: 200px;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  @include tab {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: calc(55 / 48);
  }
  @include desk {
    margin-top: 40px;

    font-size: 58px;
    line-height: calc(66 / 58);
  }
}
.modal-text {
  border-radius: 20px;
  width: 300px;
  color: $accent-clr;
  // background-color: rgba(255, 168, 6, 0.2);
  font-weight: 800;

  @include less-tab {
    font-size: 12px;
    line-height: 162%;
    padding: 20px;
  }
  @include tab {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 176%;
  }
  @include desk {
    margin-bottom: 26px;
    width: 350px;
  }
}
.modal.show {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.modal.show .modal-window {
  margin-top: 0;
}
.modal-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
