.contacts {
  background: linear-gradient(to top, $pink-bg 94%, $white-main 6%);
  @include tab {
    background: linear-gradient(to top, $pink-bg 90%, $white-main 10%);
  }
  @include desk {
    background: url(/images/contactsbg_1x.png),
      linear-gradient(to top, $pink-bg 88%, $white-main 12%);
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: url(/images/contactsbg_2x.png),
        linear-gradient(to top, $pink-bg 88%, $white-main 12%);
    }
  }
  &__container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
    @include mobile {
      width: 480px;
    }
    @include tab {
      width: 740px;
    }
    @include desk {
      width: 1090px;
    }
  }
  &__list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 0;
    margin-bottom: -15px;
    @include less-tab {
      flex-wrap: wrap;
    }
    @include tab {
      display: flex;

      //   margin-right: -20px;
    }
    @include desk {
      flex-wrap: nowrap;
      //   margin-right: -30px;
    }
  }
  &__card {
    display: inline-block;
    // justify-content: flex-start;
    padding: 43px 20px;
    width: 220px;
    background-color: $white-main;
    margin-bottom: 15px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $nuance-txt-clr;
    @include tab {
      //   margin-right: 20px;
      //   width: calc(100% / 3 - 30px);
    }
    @include desk {
      //   margin-right: 30px;
      //   width: calc(100% / 3 - 30px);

      width: 330px;
      //   height: 570px;
      padding: 52px 44px 61px 44px;
    }
  }
  &__text {
    display: block;
    padding-bottom: 25px;
    font-size: 12px;
    line-height: 1.5;
    color: $nuance-txt-clr;
    @include tab {
      font-size: 14px;
      line-height: 1.64;
    }
    @include desk {
      padding-bottom: 32px;
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.85;
    }
  }
  &__title {
    max-width: 80px;
    // height: 16px;
    // padding: 0 10px;
    font-weight: 400;
    background-color: $second-bg;
    border-radius: 4px;
    display: flex;
    text-transform: uppercase;
    color: $white-main;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    @include tab {
      font-size: 16px;
      line-height: 1.88;
    }
    &--type {
      max-width: 132px;
      background-color: $third-bg;
      @include less-tab {
        word-spacing: -4px;
      }
    }
  }
  &__subtitle {
    color: $black-txt-clr;
    font-size: 12px;
    line-height: 1.83;
    display: block;
    margin: 0;
    @include tab {
      font-size: 14px;
      line-height: 1.86;
    }
    @include desk {
      font-size: 16px;
      line-height: 1.88;
    }

    &--second {
      margin-top: 10px;
      @include tab {
        margin-top: 15px;
      }
    }
  }
  &__time {
    font-size: 12px;
    line-height: 1.83;
    color: $brand-clr;
    @include tab {
      font-size: 14px;
      line-height: 1.86;
    }
    @include desk {
      font-size: 16px;
      line-height: 1.88;
    }
  }
  &__wrap {
    border-top: 1px solid $line-clr;
    border-bottom: 1px solid $line-clr;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    @include tab {
    }
    @include desk {
      padding-top: 32px;
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
  }
  &__link {
    font-size: 12px;
    line-height: 1.5;
    color: $nuance-txt-clr;
    @include tab {
      font-size: 14px;
      line-height: 1.85;
    }
    @include desk {
      font-size: 16px;
      line-height: 1.88;
    }
  }
  &__btn {
    width: 162px;
    height: 44px;
    border-style: none;
    background-color: $accent-clr;
    border-radius: 22px;
    display: block;
    color: $white-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    &--second {
      margin-top: 10px;
      background-color: $white-main;
      color: $accent-clr;
    }
    @include tab {
      margin: 0;
    }
  }
  &__btn-wrap {
    @include tab {
      display: flex;
      justify-content: center;
    }
  }
}
.contacts__card:not(:last-child) {
  @include tab {
    margin-right: 20px;
  }
  @include desk {
    margin-right: 30px;
  }
}
// .time-first {
//   @include desk {
//     margin-bottom: 15px;
//   }
// }
// .contacts__subtitle--second {
//   margin-top: 15px;
// }
