.gallery {
  padding-bottom: 80px;
  background: linear-gradient($pink-bg 25%, $white-bg 25%);
}

.gallery__image {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  &--big {
    max-width: 120px;
  }
  &--big {
    @include tab {
      max-width: 190px;
    }
  }
  &--small {
    max-width: 60px;
  }
  &--small {
    @include tab {
      max-width: 100px;
    }
  }
}

.gallery__container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.gallery__wrapper {
  &--small {
    width: 50%;
    @include tab {
      max-width: 100px;
    }
  }
  &--big {
    @include tab {
      max-width: 190px;
      margin-right: 0;
    }
  }
  &--upper {
    margin-bottom: 2px;
  }
}

.gallery__column {
  width: 100%;
  &:not(:last-child) {
    margin-right: 2px;
  }
  &--first {
    padding-top: 10%;
    width: 50%;
  }
  &--second {
    padding-top: 5%;
    width: 50%;
  }
  &--fourth {
    padding-top: 7%;
    width: 50%;
  }
  &--fifth {
    padding-top: 2%;
    width: 50%;
  }
  &--sixth {
    padding-top: 11%;
    width: 50%;
  }
}
