.header {
  position: relative;
  z-index: 2;
  letter-spacing: normal;
}

.logo {
  display: block;
  width: 199px;
  height: 50px;

  @include tab {
    margin-right: 291px;
  }

  @include desk {
    position: relative;
    right: 70px;
    margin-right: 40px;
  }
}

.menu-button {
  display: block;
  background-color: transparent;
  border: transparent;
  padding: 0;

  @include tab {
    margin-right: 30px;
  }

  @include desk {
    display: none;
  }
}

.header__mobile {
  display: flex;
  align-items: center;

  @include less-tab {
    justify-content: space-between;
    padding-top: 6px;
  }

  @include tab {
    margin-top: 37px;
  }
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: #bd708298;
  pointer-events: none;

  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
}

.header__nav {
  display: none;
  margin-right: 110px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(16 / 21);

  @include desk {
    display: flex;
  }
}

.header__list {
  display: flex;
}

.header__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}
.header__menu {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 3;

  width: 250px;
  height: 100%;

  background-color: #e17992;
  font-family: 'DM Sans';

  transform: translateX(100%);

  transition-property: transform;
  transition-duration: 250ms;
}

.close-button {
  position: absolute;
  top: 23px;
  right: 28px;

  border-color: transparent;
  background-color: #e17992;
}

.menu {
  position: absolute;
  top: 136px;
  left: 20px;
}

.navigation__link {
  color: #ffffff;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  padding-top: 15px;
  padding-bottom: 15px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
    text-shadow: 0 0 32px #e17992, 0 0 32px #e17992, 0 0 32px #e17992, 0 0 32px #e17992,
      0 0 32px #e17992, 0 0 16px #d41443, 0 0 16px #d41443, 0 0 16px #d41443, 0 0 16px #d41443,
      0 0 16px #d41443;
  }
}

.menu__link {
  display: inline-flex;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18 / 14);
  align-items: center;

  height: 42px;
  width: 250px;
  border-top: 1px solid #e18298;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    border-bottom: 1px solid #e18298;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-shadow: 0 0 32px #e17992, 0 0 32px #e17992, 0 0 32px #e17992, 0 0 32px #e17992,
      0 0 32px #e17992, 0 0 16px #d41443, 0 0 16px #d41443, 0 0 16px #d41443, 0 0 16px #d41443,
      0 0 16px #d41443;
  }
}

.navigation__link--current,
.menu__link--current {
  color: #d41443;
}

.header__button {
  text-align: center;

  width: 160px;
  height: 44px;

  color: #d41443;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include less-tab {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
    border-color: #d41443;
    box-shadow: 1px 4px 2px rgba(212, 20, 67, 0.1), 1px 2px 3px rgba(212, 20, 67, 0.08),
      1px 3px 3px rgba(212, 20, 67, 0.12);
  }
}

.button__text {
  margin-right: 14px;
}

.buy-button {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 209px;
  height: 44px;

  color: #d41443;
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(18 / 4);

  cursor: pointer;

  @include tab {
    width: 186px;
  }
}

.button__icon {
  stroke: #d41443;
}

.slide {
  transform: translateX(0%);
}

.is-visible {
  opacity: 1;
  pointer-events: all;
}

.no-scroll {
  height: 100vw;
  overflow: hidden;
}


/* MODAL */

.modal__buy {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #D41443;

  transform: translateX(-50%) translateY(-50%);

  height: 600px;
  width: 500px;

  background-color: #ffffff;
  border-radius: 20px;

  padding: 20px;

  @media (max-width: 480px) {
    width: 320px;
  }

  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 500px;
  }
}
.mform {
  position: relative;
}

.modalw__header {
  display: block;

  font-family: "Titan One";
  font-size: 18px;
  font-weight: 400;
 
  margin-bottom: 30px;
  text-align: center;
  line-height: 1;
}

.personal__info {
  margin-bottom: 50px;
}

.mform__field {
  
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 20px;

  flex-grow: 1;
  height: 40px;

  padding: 12px 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: #d41443;
  }

  &:hover+.mform__icon,
  &:focus+.mform__icon {
       fill: #d41443;
  }
  
}
.mform__label {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  text-align: center;
  

  
}
.mform__label--conform {
  align-items: center;
  height: 20px;
}
.mform__line {
  display: block;
  position: absolute;
  left: 0;
  top: -18px;

  font-family: "Titan One", sans-serif;

  color: #D41443;
  font-size: 12px;
  line-height: calc(14 / 12);
}
.order {
  display: flex;
  height: 25px;

  margin-bottom: 35px;
}
.order__label {
  width: 90px;
}
.mform__label--margin {
  margin-right: 20px;
}

.order__field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 25px;
  width: 90px;
}
.mform__icon {
  display: block;
  position: absolute;
  left: 12px;
  align-self: center;

  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.mform__field--comment {
  height: 60px;
  width: 300px;

  resize: none;
  
}
.mform__conform-text {
  font-size: 14px;
  font-family: "Titan One";
  line-height: 1;
  margin-left: 15px;
}
.submit-button {
  position: absolute;
  left: 50%;
  width: 140px;
  height: 40px;

  display: block;
  text-align: center;

  font-family: "DM Sans";
  font-weight: 700;
  transform: translateX(-50%);
  color: #ffffff;
  letter-spacing: 0.04em;

  background-color:#D41443;
  border-radius: 20px;
  border-color: transparent;

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 2px rgba(212, 20, 67, 0.1), 1px 2px 3px rgba(212, 20, 67, 0.08),
      1px 3px 3px rgba(212, 20, 67, 0.12);
  }


}

.backdrop-modal {
  position: fixed;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  opacity: 1;
  background-color: #bd708298;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-visible {
  opacity: 0;
  pointer-events: none;
}
.mw-close-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;

  border: 1px solid #d41443;
  border-radius: 50%;
  stroke: #d41443;
  background-color: #d41443;
  
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  

  &:hover,
  &:focus {
    background-color: #e17992;
  }

}